body {
    font-family: Avenir, sans-serif;
    background-color: white;
}

footer {
    background-color: #e3e0de;
    border-style: dotted;
    border-color: black;
    border-radius: 25px;
    padding: 5px;
}

h2 {
    color: teal
}

ul {
    list-style: none;
}